/library/__pycache__
/.ipynb_checkpoints
/library/.ipynb_checkpoints
/create/logs/fit
/library/BodyEmotion4Lib/__pycache__
/create/runs
/create/.ipynb_checkpoints
/create/yolov8*.pt
/library/BodyEmotion4Lib/models/model_*.h5
/library/BodyEmotion4Lib/models/model_*.pt
/test/yolov8m-cls.pt
